/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: -0.5px;
  font-family: "inter", sans-serif;
}

.my-img {
  width: 40px;
  height: 40px;
  border-radius: 0.5rem;
}

.my-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  object-fit: contain;
}

.left-p {
  width: 500px;
  height: 300px;
}

.left-p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-intro {
  width: 400px;
  height: 400px;
  border-radius: 2.5rem;
}

.img-intro img {
  width: 100%;
  height: 100%;
  border-radius: 2.5rem;
}

/* headings */

.head {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  color: black;
  background-color: aliceblue;
}

.my-name {
  width: fit-content;
  height: auto;
}

.my-name p {
  font-size: 1.2rem;
  font-weight: 800;
}

.rest {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  column-gap: 1rem;
}

.rest a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

/* INTRODUCTION SECTION */

.intro {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  border-bottom: 1px solid rgb(228, 228, 248);
  padding: 2rem 4rem;
  color: black;
  background-color: aliceblue;
}

.left {
  width: 50%;
  height: auto;
  display: flex;
  padding-top: 8rem;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: start;
}

.l-top {
  width: 100%;
  height: auto;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.l-top h1 {
  font-size: 3rem;
  font-weight: 700;
}

.l-top p {
  font-size: 1rem;
  color: rgb(71, 71, 71);
}

.l-bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 3rem;
}

.l-bottom a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.right {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

/* PROJECT SECTION */

.project {
  width: 100%;
  height: auto;
  display: flex;
  row-gap: 2rem;
  padding: 2rem 4rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: aliceblue;
  border-bottom: 1px solid rgb(228, 228, 248);
  color: black;
}

.title {
  width: 100%;
  height: auto;
  display: flex;
  row-gap: 0.5rem;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.title h3 {
  font-size: 3rem;
  font-weight: 700;
}

.title p {
  font-size: 1rem;
  color: rgb(71, 71, 71);
}

.list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: start;
  align-items: start;
}

.the-img {
  width: 50%;
  height: auto;
  background-color: rgb(211, 210, 208);
  padding: 4rem 2rem;
  border-radius: 1rem;
}

.right-p {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 3rem;
  align-items: start;
  row-gap: 1.5rem;
}

.right-p h3 {
  font-size: clamp(1rem, 1vh + 1rem, 2.5rem);
  font-weight: 600;
}

.right-p p {
  color: rgb(71, 71, 71);
}

.info-p {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.info-p p {
  color: black;
}

.spread {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(71, 71, 71);
  padding: 1rem 0;
  align-items: start;
}

/* ABOUT SECTION */
.about {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding: 1.5rem 4rem 10rem 4rem;
  border-bottom: 1px solid rgb(228, 228, 248);
  color: black;
  background-color: aliceblue;
  column-gap: 4rem;
}

.left-a {
  width: 50%;
  height: auto;
}

.left-a h1 {
  font-weight: 600;
  font-size: clamp(2rem, 1vh + 3rem, 4rem);
}

.right-a {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;

  align-items: start;
  row-gap: 1rem;
}

.right-a h3 {
  font-size: clamp(1rem, 1vh + 1rem, 2rem);
  font-weight: 600;
}

.right-a p {
  font-size: 1rem;
  color: rgb(71, 71, 71);
}

.right-a a {
  text-decoration: none;
  color: blue;
}

/* contact */

.contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1.5rem 4rem;
  color: black;
  background-color: aliceblue;
  column-gap: 4rem;
}

.top-contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  padding-bottom: 4rem;
  border-bottom: 1px solid rgb(228, 228, 248);
}

.left-c {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: start;
  align-items: start;
}

.left-c p {
  color: rgb(71, 71, 71);
  font-size: 1rem;
}

.left-c h1 {
  font-size: clamp(1rem, 1vh + 1.5rem, 2.5rem);
  font-weight: 600;
}
.items {
  width: 100%;
  height: auto;
  display: flex;
  column-gap: 1rem;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.right-c {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: start;
  align-items: start;
}

.send {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 0.5rem;
}

.send input,
textarea {
  width: 100%;
  height: auto;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: rgb(235, 233, 233);
}

.right-c button {
  width: fit-content;
  height: auto;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  background-color: rgb(11, 44, 17);
  color: rgb(228, 230, 233);
  cursor: pointer;
}

.buttom-contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 2rem;
  padding: 2rem 0;
}

.con {
  width: 33%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: start;
  align-items: start;
}

.con p {
  color: rgb(71, 71, 71);
  font-size: 1rem;
}

.con h4 {
  font-weight: 600;
  font-size: clamp(1rem, 1vh + 0.2rem, 2rem);
}

@media screen and (max-width: 1140px) {
  .project {
    width: 100%;
    height: auto;
    display: flex;
    row-gap: 1rem;
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    justify-content: start;
    align-items: start;
  }
  .left-p {
    width: 290px;
    height: 180px;
  }
  .the-img {
    width: 50%;
    height: auto;
    background-color: rgb(211, 210, 208);
    padding: 2rem 1rem;
    border-radius: 1rem;
  }

  .right-p {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 1.5rem;
    align-items: start;
    row-gap: 1rem;
  }

  .left-a {
    width: 100%;
    height: auto;
  }

  .right-a {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
  }

  .contact {
    padding: 1rem 2rem;
    column-gap: 2rem;
  }

  .top-contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding-bottom: 4rem;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(228, 228, 248);
    row-gap: 2rem;
  }

  .left-a h1 {
    font-weight: 600;
    font-size: clamp(1rem, 1vh + 2rem, 3rem);
  }
}

@media screen and (max-width: 480px) {
  .my-name p:not(.visible) {
    display: none;
  }

  .intro {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .left {
    width: 100%;
    padding-top: 0;
  }

  .title {
    width: 100%;
  }

  .right {
    width: 100%;
    height: auto;
  }

  .list {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
    flex-wrap: wrap;
    column-gap: 1rem;
    justify-content: start;
    align-items: center;
  }
  .left-p {
    width: 280px;
    height: 150px;
  }
  .the-img {
    width: 100%;
    height: auto;
    background-color: rgb(211, 210, 208);
    padding: 2rem 1rem;
    border-radius: 1rem;
  }

  .right-p {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 1.5rem;
    align-items: start;
    row-gap: 1rem;
  }

  .about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1rem 2rem 4rem 2rem;
    border-bottom: 1px solid rgb(228, 228, 248);
    color: black;
    background-color: aliceblue;
    row-gap: 2rem;
  }

  .left-a {
    width: 100%;
    height: auto;
  }

  .right-a {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
  }

  .contact {
    padding: 1rem 2rem;
    column-gap: 2rem;
  }

  .top-contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding-bottom: 4rem;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(228, 228, 248);
    row-gap: 2rem;
  }

  .left-c {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: start;
    align-items: start;
  }

  .right-c {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: start;
    align-items: start;
  }

  .buttom-contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 1rem;
    padding: 2rem 0;
    row-gap: 1rem;
  }
}
